/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .green
{
    color: #00FF00;
}

.container-fluid
{
    background-color: #171618;
}

.navbar-nav .nav-link
{
    color: #00FF00;
}