/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.table-container {
    margin: 0 auto; /* center the table horizontally */
    width: 80%; /* set the width of the table container */
}

table
{
    border-collapse: collapse; /* remove cell borders */
    width: 100%; /* set the width of the table */
}

th, td
{
    padding: 10px; /* add padding to cells */
    text-align: center; /* center the text in cells */
}

th
{
    background-color: #f2f2f2; /* add background color to header cells */
    font-weight: bold; /* add bold text to header cells */
}

td
{
    border-bottom: 1px solid #ddd; /* add bottom border to non-header cells */
}
