body {
    font-family: "Arial", sans-serif;
    background-color: #e28d4c;
    color: black;
}

h1, h2, h3 {
    color: #444;
}

a {
    color: #221300;
    text-decoration: none;
    background-color: #fab558;

}

a:hover {
    color: #005580;
}

.paragraph {
    margin: auto;
    max-width: 960px;
    text-align: center;

}

.header {
    background-color: #fab558;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin-right: 1rem;
    color: #fff;
    background-color: #a45c52;
    border-color: #a45c52;
}

.btn-primary.selected {
    background-color: #6a4c41;
}

.btn-primary.selected::before {
        content: "✔";
        position: relative;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.btn-primary:hover {
    background-color:white;
    transition: 0.7s;
}
