body {
    font-family: "Arial", sans-serif;
    background-color: #e28d4c;
    color: black;
}

h1, h2, h3 {
    color: #444;
}

a {
    color: #221300;
    text-decoration: none;
    background-color: #fab558;

}

a:hover {
    color: #005580;
}

.paragraph {
    max-width: 960px;
    text-align: center;

}

.header {
    background-color: #fab558;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.navbar {
    background-color: #0088cc;
    padding: 10px;
}

.navbar a {
    color: white;
}
